Ссылка на форму для регистрации: http://itcareer.pythonanywhere.com

Задание:
1. Сделать чеклист на всю форму в виде гугл-таблицы. Чеклист должен содержать поля с ожидаемым результатом и с фактическим-при нахождении бага. Минимум 15 кейсов. 
2. Сделать к каждому полю по чек-листу. Минимум 15 кейсов.
3. Сделать багрепорты к найденным багам списком в виде гугл-док (не в таблице).

Требования к форме регистрации:
1. Поля Name, Email, Password обязательны для заполнения, кроме Surname.
2. Вся форма только на латинице, в том числе поле Email.
3. Если невалидные данные, поле подкрасится красной рамкой + внизу формы сообщение в каком поле невалидные данные.
4. Если валидные данные, то внизу формы в голубой области сообщение "Success, вы зарегистрированы".
5. Имя и пароль могут совпадать.
6. В полях  текст в placeholder заканчивается точкой.
7. Нет функционала для людей с ограниченной возможностью.
8. Проверять только веб-версию, без мобилок.
9. Требования к полям ввода:

	Name:
- минимум 1 символ, максимум 128 символов;
- можно через тире, можно через точку;
- можно пробелы и спецсимволы;
- зависим от регистра.

	Surname:
- минимум 0, максимум 128 символов;
- можно пробелы и спецсимволы;
- зависим от регистра.

	E-mail:
- минимум 7 символов, максимум 128;
- нельзя пробел (если поставить пробел, то форма ругается на пробел);
- "@" и "."(разделитель доменной зоны) обязательны;
- нет регистрозасимости. Все что внесешь должно в базу сохраниться с  Lowercase (маленький регистр);
- поддерживает все клиенты почты (gmail, yandex, mail и др.). 

	Password:
- минимум 8 символов, максимум 32 символа;
- минимум 1 большая буква, 1 цифра и один из спецсимволов @ # !;
- Show password - не нужен.

Чеклист: https://docs.google.com/spreadsheets/d/1Il_D1ZR9n6Mbo2C4d55sNCD-u4VTiapGAj01GS9H3B4/edit?usp=sharing

Багрепорты: https://docs.google.com/document/d/1ZPWVZWDIbJh1UilIp85QlUu3y52x1E4LrmJPUB7ElSU/edit?usp=sharing
